.film-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./Hannett000339-R1-008-2A.jpg');
    background-size: 100vw 100vh;
    background-position: center;
  }
  
  .film-container{
    width: 750px;
    height: 100vh;
    overflow-y: scroll;
    margin-right: 800px;
    /* padding-left: 30px; */
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    display: flex;
    flex-wrap: wrap;

    animation-name: photo-scroll;
    /* animation-direction: normal; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  #photo{
    /* margin-right: 70px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    border-color: rgb(14, 12, 10);
    border-width: 5px;
    height: 500px;
    width: 500px;

    
  }

  @keyframes photo-scroll{
    from {
      bottom: 0;
    }
    to{
      top: 0;
    }
  }

  @media only screen and (max-width: 375px){

    .film-page{
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('./Hannett000339-R1-008-2A.jpg');
      background-size: cover;
      background-position: center;
    }
    
    .film-container{
      width: 80vw;
      height: 70vh;
      overflow-y: scroll;
      margin-right: 50px;
      padding-left: 30px;
      padding-top: 30px;
      display: inline-block;

    }
    
    #photo{
      margin-left: 3px;
      border-style: solid;
      border-color: rgb(14, 12, 10);
      border-width: 2px;
      height: 125px;
      width: 125px;
    }
  }