.merch-page{
    width: 100vw;
    height: 100vh;
    background-image: url('./Hannett000336-R1-068-32A.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-origin: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contain-scroll-merch{
    height: 70vh;
    width: 60vw;
    /* background-color: black; */
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 120px;
    /* border-style: solid; */
  }

  #coming-soon{
    font-size: 50px;
      font-weight: 400;
      color: rgb(46, 46, 46);
  }

  ::-webkit-scrollbar{
    display: none;
  }

  @media only screen and (max-width: 375px){

    .merch-page{
      width: 100vw;
      height: 100vh;
      background-image: url('./Hannett000336-R1-068-32A.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .contain-scroll-merch{
      height: 80vh;
      width: 100vw;
      /* background-color: black; */
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      margin-top: 60px;
      /* border-style: solid; */
    }

    #coming-soon{
    font-size: 30px;
      font-weight: 400;
      color: rgb(46, 46, 46);
  }
  }