#single-merch-name{
    color: black;
  }
  
  #single-merch-price{
    color: black;
    margin-top: -10px;
  }
  
  .single-merch-info{
    width: 200px;
    height: 100px;
    margin-left: 375px;
    margin-top: -270px;
  }

  .view-product-page{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .view-product-container{
    height: 400px;
    width: 700px;
    /* background-color: pink; */
  }
  
  
  #view-product-image{
    margin-top: 10px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
    box-shadow: 15px 20px 20px rgb(102, 102, 102);
  }
  
  .view-product-description-container{
    height: 100px;
    width: 250px;
    margin-left: 375px;
    margin-top: -20px;
    padding-left: 5px;
    word-wrap: break-word;
  }
  
  #view-product-image{
    box-shadow: 5px, 5px, 20px, 20px black;
  }
  
  #view-product-select{
    margin-left: 375px;
    margin-top: 30px;
    width: 150px;
    height: 30px;
  }
  
  #add-to-cart{
    height: 30px;
    margin-left: 10px;
    background-color: black;
    border-style: none;
    color: white;
  }

  #add-to-cart:hover{
    cursor: pointer;
  }

  #x{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 285px;
    margin-bottom: -10px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
  }
  
  #x:hover{
    cursor: pointer;
  }

  .merch-container{
    height: 300px;
    width: 260px;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    /* margin-left: 25px;
    margin-right: 25px; */
  }
  
  .merch-info{
    height: 125px;
    width: 260px;
    display: flex;
    align-items: center;
    /* background-color: black; */
    /* justify-content: center; */
    flex-direction: column;
    object-fit: contain;
  }
  
  #merch-price{
    margin-top: -15px;
    font-weight: 400;
    color: rgb(67, 73, 82);
  }
  
  #merch-name{
    font-weight: 500;
    color: black;
  }
  
  #merch-button{
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 5%;
  }
  
  #merch-button:hover{
    background-color: rgb(114, 114, 114);
    cursor: pointer;
  }
  
  .products-container{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* margin-bottom: 50px;; */
  }
  
  .product{
    width: 150px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
  }
  
  .product-info{
    width: 150px;
    height: 50px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #product-name{
    width: 150px;
    height: 25px;
    /* font-size: 5px; */
    background-color: blue;
  
  }
  
  #product-price{
    width: 150px;
    height: 25px;
    background-color: brown;
  }

  @media only screen and (max-width: 375px){
    
    #view-product-image{
      margin-top: 10px;
      margin-left: 10px;
      height: 175px;
      width: 175px;
    }

    .products-container{
      height: 400px;
      width: 300px;
      display: flex;
      align-items: center;
      /* justify-content: center; */
      flex-direction: column;
      margin-bottom: 25px;;
    }

    .merch-container{
      height: 280px;
      width: 260px;
      display: flex;
      align-items: center;
      /* justify-content: center; */
      color: white;
      flex-direction: column;
      margin-bottom: 50px;
    }

    #merch-button{
      height: 35px;
      width: 75px;
      background-color: black;
      color: white;
      border-style: none;
      border-radius: 5%;
    }
    
    #merch-button:active{
      background-color: rgb(114, 114, 114);
    }

    .view-product-container{
      height: 400px;
      width: 700px;
      /* background-color: pink; */
    }
    
    
    #view-product-image{
      margin-top: 10px;
      margin-left: 10px;
    }
    
    .view-product-description-container{
      height: 100px;
      width: 250px;
      margin-left: 375px;
      margin-top: -20px;
      padding-left: 5px;
      word-wrap: break-word;
    }
    
    #view-product-image{
      box-shadow: 5px, 5px, 20px, 20px black;
    }
    
    #view-product-select{
      margin-left: 375px;
      margin-top: 30px;
      width: 150px;
      height: 30px;
    }
    
    #add-to-cart{
      height: 30px;
      margin-left: 10px;
      background-color: black;
      border-style: none;
      color: white;
    }

    .single-merch-container{
      height: 60vh;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: -50px;
    }
    
    .single-merch-info{
      width: 200px;
      height: 100px;
      margin-top: 30px; 
      margin-left: -20px;
    }

    .view-product-description-container{
      height: 100px;
      width: 250px;
      margin-left: -0px;
      margin-top: 20px;
      padding-left: 5px;
      word-wrap: break-word;
    }
    
    
    #single-merch-name{
      color: black;
    }
    
    #single-merch-price{
      color: black;
      margin-top: -10px;
    }

    #view-product-select{
      margin-left: -0px;
      margin-top: 30px;
      width: 150px;
      height: 30px;
    }
    
    #add-to-cart{
      height: 30px;
      margin-left: 10px;
      margin-top: 25px;
      background-color: black;
      border-style: none;
      color: white;
    }
    
  }