.background-image{
  height: 100vh;
  width: 100vw;
}

#enter{
  margin-top: -350px;
  width: 100vw;
  text-align: center;
  color: rgb(246, 232, 232);
}

#enter:hover{
  font-size: 30px;
  cursor: pointer;
}

.nav-container{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links{
  height: 40px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#music-link{
  font-size: 20px;
  position: sticky;
}
#music-link:hover{
  font-size: 30px;
  cursor: pointer;
}

#merch-link{
  font-size: 20px;
}
#merch-link:hover{
  font-size: 30px;
  cursor: pointer;
}

#film-link{
  font-size: 20px;
}
#film-link:hover{
  font-size: 30px;
  cursor: pointer;
}

.music-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ep-art{
  margin-right: -40px;
}

#ep{
  margin-top: 350px;
  margin-left: -100px;
  color: grey;
  font-weight: 200;
}

#ep-title{
  margin-top: 410px;
  margin-left: -250px;
  font-weight: 500;
  font-size: 30px;
}

#stream-button{
  margin-top: 460px;
  margin-left: -100px;
}

.merch-container{
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-container{
  width: 300px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.product{
  width: 150px;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
}

.product-info{
  width: 150px;
  height: 50px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#product-name{
  width: 150px;
  height: 25px;
  /* font-size: 5px; */
  background-color: blue;

}

#product-price{
  width: 150px;
  height: 25px;
  background-color: brown;
}