.background-image{
  height: 100vh;
  width: 100vw;
}

#enter{
  margin-top: -350px;
  width: 100vw;
  text-align: center;
  color: rgb(246, 232, 232);
}

#enter:hover{
  font-size: 30px;
  cursor: pointer;
}

.nav-container{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  width: 100vw;
  position: fixed;
}

footer{
  height: 50px;
  width: 100vw;
  /* background-color: deepskyblue; */
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icons{
  width: 300px;
  align-items: center;
  justify-content: center;
  padding-left: 125px;
}

#icon{
  margin-left: 10px;
}

.nav-links{
  height: 40px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#music-link{
  font-size: 20px;
  position: sticky;
}
#music-link:hover{
  font-size: 22px;
  cursor: pointer;
}

#merch-link{
  font-size: 20px;
}
#merch-link:hover{
  font-size: 22px;
  cursor: pointer;
}

#film-link{
  font-size: 20px;
}
#film-link:hover{
  font-size: 22px;
  cursor: pointer;
}

#contact-link{
  font-size: 20px;
}
#contact-link:hover{
  font-size: 22px;
  cursor: pointer;
}
.music-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/photos/Hannett007298-R1-025-11.jpg');
}

.song-container{
  height: 400px;
  width: 300px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

#song-info{
  height: 75px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ep-art{
  margin-top: 15px;
}

#ep{
 font-size: 20px;
 font-weight: 200;
}

#ep-title{
  font-size: 20px;
  font-weight: 500;
  margin-top: -15px;
}

.icon-container{
  
}

.merch-container{
  width: 100vw;
  height: 100vh;
  background-image: url('/photos/Hannett007301-R1-007-2.jpg');
  background-position: center;
  /* background-size: cover; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-container{
  width: 300px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.product{
  width: 150px;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
}

.product-info{
  width: 150px;
  height: 50px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#product-name{
  width: 150px;
  height: 25px;
  /* font-size: 5px; */
  background-color: blue;

}

#product-price{
  width: 150px;
  height: 25px;
  background-color: brown;
}

.contact-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/photos/Hannett007298-R1-033-15.jpg');
}

.contact-info{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-header{
  font-size: 20px;
  font-weight: 500;
}

#email-1{
  margin-top: -20px;
}

#email-2{
  margin-top: -20px;
}

.film-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/photos/Hannett007300-R1-051-24.jpg');
}

.film-container{
  width: 500px;
  height: 500px;
  overflow: scroll;
}

#photo{
  margin-left: 3px;
}

