.background-image{
  height: 100vh;
  width: 100vw;
}

#enter{
  margin-top: -350px;
  width: 100vw;
  text-align: center;
  color: rgb(246, 232, 232);
}

#enter:hover{
  font-size: 30px;
  cursor: pointer;
}

.nav-container{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  width: 100vw;
  position: fixed;
  /* margin-bottom: 100px; */
}

.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-image: url('/photos/Hannett007300-R1-013-5.jpg'); */
  background-color: black;
  background-size: cover;
  color: black;
  text-align: center;
  min-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
  background-color: white;
  /* opacity: 0.5; */
  border-style: solid;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
  color: white;

}

footer{
  height: 50px;
  width: 100vw;
  background-color: transparent;
  bottom: 0;
  margin-top: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icons{
  width: 300px;
  align-items: center;
  justify-content: center;
  padding-left: 125px;
}

#icon{
  margin-left: 20px;
}

#icon:hover{
  cursor: pointer;
}

.nav-links{
  height: 40px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#music-link{
  font-size: 20px;
  font-weight: 400;
  position: sticky;
}
#music-link:hover{
  font-size: 22px;
  cursor: pointer;
}

#merch-link{
  font-size: 20px;
  font-weight: 400;
}
#merch-link:hover{
  font-size: 22px;
  cursor: pointer;
}

#film-link{
  font-size: 20px;
  font-weight: 400;
}
#film-link:hover{
  font-size: 22px;
  cursor: pointer;
}

#contact-link{
  font-size: 20px;
  font-weight: 400;
}
#contact-link:hover{
  font-size: 22px;
  cursor: pointer;
}
.music-page{
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  background-image: url('/photos/Hannett007298-R1-025-11.jpg');
}

.song-container{
  height: 400px;
  width: 300px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  margin-bottom: 50px;;
}

#song-info{
  height: 75px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ep-art{
  margin-top: 15px;
}

#ep{
 font-size: 20px;
 font-weight: 200;
}

#ep-title{
  font-size: 20px;
  font-weight: 500;
  margin-top: -15px;
}

.icon-container{
  
}

.merch-container{
  width: 100vw;
  height: 100vh;
  background-image: url('/photos/Hannett007301-R1-007-2.jpg');
  background-position: center;
  /* background-size: cover; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-container{
  width: 300px;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.product{
  width: 150px;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
}

.product-info{
  width: 150px;
  height: 50px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#product-name{
  width: 150px;
  height: 25px;
  /* font-size: 5px; */
  background-color: blue;

}

#product-price{
  width: 150px;
  height: 25px;
  background-color: brown;
}

.contact-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/photos/Hannett007298-R1-033-15.jpg');
}

.contact-info{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-header{
  font-size: 20px;
  font-weight: 500;
}

#email-1{
  margin-top: -20px;
}

#email-2{
  margin-top: -20px;
}

.film-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/photos/Hannett007300-R1-051-24.jpg');
}

.film-container{
  width: 500px;
  height: 500px;
  overflow: scroll;
}

#photo{
  margin-left: 3px;
}

.subscribe-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/photos/Hannett007298-R1-029-13.jpg');

}

#email-input{
  border-style: none;
  background-color: transparent;
  height: 25px;
  width: 200px;
  text-align: center;
  color: black;
  outline: none;
  margin-left: 50px;
}

::placeholder{
  color: black;
}

#subscribe-button{
  border-style: none;
  height: 27px;
  color: white;
  background-color: black;
}

#subscribe-button:hover{
  border-style: none;
  height: 27px;
  /* color: black;
  background-color: white; */
  cursor: pointer;
}
