header{
    width: 100vw;
    position: fixed;
  }
  
  .nav-container{
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: transparent;
    color: black;
    padding-left: 10px;
  }
  

  .nav-links{
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 650px;
    
  }
  
  #music-link{
    font-size: 25px;
    font-weight: 400;
    position: sticky;
  }
  #music-link:hover{
    font-size: 22px;
    color: rgb(246, 242, 242);
    cursor: pointer;
  }
  
  #merch-link{
    font-size: 25px;
    font-weight: 400;
  }
  #merch-link:hover{
    font-size: 22px;
    color: rgb(246, 242, 242);
    cursor: pointer;
  }
  
  #film-link{
    font-size: 25px;
    font-weight: 400;
  }
  #film-link:hover{
    font-size: 22px;
    color: rgb(246, 242, 242);
    cursor: pointer;
  }
  
  #contact-link{
    font-size: 25px;
    font-weight: 400;
  }
  #contact-link:hover{
    font-size: 22px;
    color: rgb(246, 242, 242);
    cursor: pointer;
  }
  
  #admin-link{
    font-size: 25px;
    font-weight: 400;
  }
  
  #admin-link:hover{
    font-size: 22px;
    color: rgb(246, 242, 242);
    cursor: pointer;
  }

  /* //NAV USER DROPDOWN// */

  .nav-user-dropdown{
    position: relative;
    display: inline-block;
    margin-left: 220px;
  }

  .nav-user-dropdown-content{
    display: none;
    position: absolute;
    min-width: 120px;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    height: auto;
    padding: 12px 16px;
    z-index: 1;
  }

  .nav-user-dropdown:hover .nav-user-dropdown-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 190px;
    /* opacity: 0.5; */
  }



  #nav-logout-icon:hover{
    cursor: pointer;
  }

  #nav-login-button{
    background-color: black;
    color: white;
    border-style: none;
  }
  
  #nav-user-icon{
    margin-left: 280px;
    /* width: 50px; */

  }

  #nav-user-icon:hover{
    cursor: pointer;
  }

  #nav-username{
    font-size: 10px;
    font-weight: 700;
  }

  .shopping-cart-container{
    height: auto;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #shopping-cart{
    /* margin-left: 600px; */
  }
  
  #shopping-cart:hover{
    cursor: pointer;
  }
  
  .nav-cart-qty{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 375px){
    header{
      width: 100vw;
      height: 100vw;
      position: fixed;
    }
    
    .nav-container{
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: black;
    }

    .nav-links{
      height: 40px;
      width: 40vw;
      /* background-color: white; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* margin-left: -0px; */
      margin-right: 350px;
      
    }
    
    #music-link{
      font-size: 20px;
      font-weight: 400;
      position: sticky;
      margin-left: 25px;
    }
    #music-link:active{
      color: white;
    }
    
    #merch-link{
      font-size: 20px;
      font-weight: 400;
      margin-left: 5px;
    }
    #merch-link:active{
      color: white;
    }
    
    #film-link{
      font-size: 20px;
      font-weight: 400;
      margin-left: 5px;
    }
    #film-link:active{
      color: white;
    }
    
    #contact-link{
      font-size: 20px;
      font-weight: 400;
      margin-left: 5px;
    }
    #contact-link:active{
      color: white;
    }
    
    #admin-link{
      font-size: 20px;
      font-weight: 400;
    }
    
    #admin-link:active{
      color: white;
    }
    
    /* .shopping-cart-container{
      height: auto;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    } */
    
    #shopping-cart{
      margin-left: -1400px;
    }
    
    #shopping-cart:active{
      color: white;
    }
    
    .nav-cart-qty{
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 25px;
    }
  }